.arrow-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.arrow-button:active {
  transform: scale(0.8); /* Shrinks the button to 80% of its size */
}